.swiper-button-prev,.swiper-button-next {
    color: #ffffff; /* Substitua #ff0000 pelo código de cor desejado */
    top: 30%;
  }

  .swiper-button-prev{
    left: 0%;
  }
  .swiper-button-next{
    right: 0%;
  }


