.swiper-button-prev,.swiper-button-next {
    color: #ffffff; /* Substitua #ff0000 pelo código de cor desejado */
    top: 40%;
  }

  .swiper-button-prev{
    left: 2%;
  }
  .swiper-button-next{
    right: 3%;
  }

  /* Estilize o botão de navegação seguinte */
